main {
    background-color: var(--color_secondary);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
}

h1 {
    color: var(--color_text);
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: var(--color_text);
    font-weight: bold;
}

input[type="text"],
input[type="textarea"] {
    width: 100%;
    padding: 10px;
    border: 1px solid var(--color_accent);
    border-radius: 5px;
    box-sizing: border-box;
}

.form-group .btn {
    width: 100%;
    padding: 10px;
    background-color: var(--color_buttons);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button.btn:hover {
    background-color: var(--color_accent);
}