<div class="flex justify-between items-center py-4 px-6 bg-gray-800">
    <a href="/dashboard">
        <img src="/images/image.png" alt="Logo" class="h-10" />
    </a>
    <div class="flex justify-evenly">
        <a href="/dashboard"
            class="text-white mr-4 hover:text-gray-300 transition-colors duration-300">Home</a>
        <a href="/addcar"
            class="text-white mr-4 hover:text-gray-300 transition-colors duration-300">Add
            Car</a>
        <a href="/addmaintenance"
            class="text-white mr-4 hover:text-gray-300 transition-colors duration-300">Add
            Maintenance</a>
        <input type="text" placeholder="Search"
            class="bg-gray-700 text-white px-4 py-2 mr-4 rounded-lg focus:outline-none focus:shadow-outline" />

    </div>
    <a href="/auth/logout"
        class="text-white hover:text-gray-300 transition-colors duration-300">Logout</a>
</div>